.login-box{
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  background-color: #a6acb3;
  flex-direction: column;
  border-radius: 6px;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #4D7EA8;
}
.button{
  margin-top: 10%;
  background-color:#4D7EA8;
  border-radius: 8px;
}
.login-input{
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}
.login-input:focus{
  border-color: #4D7EA8; /* or your brand color */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.login-text{
  font-size: 1.3rem;
}
.button:hover{
  border-color: #4D7EA8; /* or your brand color */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.login-title{
  font-size: 2.3rem;
}