:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0
}

.login-box{
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  background-color: #a6acb3;
  flex-direction: column;
  border-radius: 6px;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #4D7EA8;
}
.button{
  margin-top: 10%;
  background-color:#4D7EA8;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.login-input{
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}
.login-input:focus{
  border-color: #4D7EA8; /* or your brand color */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.login-text{
  font-size: 1.3rem;
}
.button:hover{
  border-color: #4D7EA8; /* or your brand color */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.login-title{
  font-size: 2.3rem;
}
.navbar-container{
  width: 100vw;
  height: 10vh;
  background-color: #4D7EA8;
  top:0;
  left:0;
  position: fixed;
}
.navbar-content{
  display: flex;
  align-items: center;  
  height: 100%;
  margin-left: 1%;
}
.navbar-list{
  margin-left: 65vw;
}
.navbar-list > li{
  display: inline-block;
  list-style: none;
  margin-left: 2vw;
  color: #ffff;
  font-size: 1.3rem;
  font-weight: 500
}
.body-container{
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  background-color: #bababa;
  left: 0;
}